psycopg2>=2.8.4
sqlalchemy>=1.4
click
astropy
numpy
h5py
pandas
packaging
datetime
tabulate
scipy
pgcopy
pyquaternion
tqdm
loguru
cachetools
git+https://tessgit.mit.edu/wcfong/configurables.git@v-0.1.5
