click
psycopg2-binary
sqlalchemy>=2.0
pytest
decorator
hypothesis
hypothesis[numpy]
hypothesis-fspaths
pgcopy
factory_boy
astropy
h5py
numpy
pandas
flake8
isort
tabulate
scipy
pyquaternion
tqdm
pytest-watch
requests
